.sub-header-data {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.button-position {
    display: flex;
    gap: 20px; 
    padding-left: 40%;
    justify-content: flex-end;
    align-items: center; 
  }
  