.filter-sidebar {
    width: 300px;
    padding: 20px;
  }
  
  .filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .filter-form-control {
    margin-bottom: 20px;
  }
  
  .filter-button {
    margin-top: 20px;
  }
  